script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src='./toggle/toggle.js')

mixin toggle(name)
    div.toggle
            label.container_checkbox= name
                input(type="checkbox" name="checkbox" value="ok")
                span.swap

+toggle('Получать спецпредложения')