mixin subscription()
    body
        div.subscription
            input(type="email" id="input_email" placeholder="Email")
            label(for="input_email")
            img(src="/image/arrow_forward_footer.svg")