script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src='./room_preview/room_preview.js')

mixin room_preview(number_room, price)
    div.room_preview
        div.slider
            div.left
            div.image
            div.right
        div.first_line
            p= "№ " + number_room
            p= price + "₽ в сутки"
        div.line
        div.rating