<!DOCTYPE html>
html(lang="en")
    body
        block content
            div.main_container
                div.search_room
                    h2 Надём номера под ваши пожелания
                    div.date
                        div.arrive: h3 Прибытие
                        div.leave: h3 Выезд
                    div.people
                        h3 Гости
                    button.confirm
                        p Подобрать номера
                        img(src="../image/arrow_forward.svg")

            script(src='./SearchRoom/SearchRoom.js')