<!DOCTYPE html>
html(lang="en")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    body
        block content
            div.main_container
                div.search_room
                    h2 Надём номера </n> под ваши пожелания
                    div.date

                    div.people

                    button.confirm
                        p Подобрать номера
                        img(src="../image/arrow_forward.svg")

            script(src='./SearchRoom/SearchRoom.js')