@import "src/mixin/mixin.scss";

.pagination{
  margin: 0;
  width: 241px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .numbers{
    display: flex;
    flex-direction: row;

    p{
      @include Font_Montserrat-Regular(12px,15px, rgba(31, 32, 65, 0.5));
      text-align: center;
      margin: 12.5px;
    }
    div{
      height: 40px;
      width: 40px;
    }
  }

  .first_number{

//border: 1px solid red;
  }

  .arrow{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
  }

  .choose{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    p{
      @include Font_Montserrat-Bold(12px,15px, #FFFFFF);
    }
  }

  .information{

    p{
      margin: 10px 0 0 0 ;
      @include Font_Montserrat-Regular(14px,24px,rgba(31, 32, 65, 0.75));
      text-align: center;
    }

  }

}
