
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src='./text_field/text_field.js')

mixin text_field(name)
    body
        div.text_field
            input.enter_email(placeholder= name)



+text_field("Email")