script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src='./filling_room/filling_room.js')

mixin text_field(name)
    div.filling_room_container
        div.filling_room
            h3 Выбирите
            p.room Выбирите
            img.drop_down(src="../image/expand_more.svg")
        ul.room_list
            each i in ["Спальни", "Кровати", "Ванные комнаты"]
                li
                    p.holder= i
                    div.picker
                        div.minus
                            p -
                        div.number
                            p 0
                        div.plus
                            p +


+text_field("Email")