<!DOCTYPE html>
html(lang="en")
    body
        div.sign_in_container
            h2 Войти
            div.mail_container
                input.enter_email(placeholder="Email")
                input.enter_email(placeholder="Пароль")

            div.people
                button.confirm
                    p Войти
                    img(src="../image/arrow_forward.svg")

            div.have_account
                p Нет аккаунта на Toxin?
                div.border_input
                    div.background_input
                        p Создать
        script(src='./signin/signin.js')