<!DOCTYPE html>
html(lang="en")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    body
        h3 Гости
        input.gosti(placeholder='Сколько гостей')
        img.drop_down(src="../image/expand_more.svg")
    script(src='./guest/guest.js')    