mixin date_of_stay()
    div.date_of_stay
        div.date_range
            p.text_H даты пребывания в отеле
            input.enter_email(placeholder='ДД.ММ.ГГГГ')
            img(src="/image/expand_more.svg")
