script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src='./comment/comment.js')
script(src='./like_button/like_button.js')
include  ../like_button/like_button


mixin comment(name,date,text,photo)
    - var name = name || "Имя Фамилия"
    - var date = date || "5 дней назад"
    - var text = text || "текст"
    - var photo = photo || "../image/round-avatar.png"
    div.comment
        div.first_column
            img(src=photo)
            +like_button(12).
        div.second_column
            p.name= name
            p.date= date
            p.text= text





+comment("Мурад Сарафанов","5 дней назад","Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")