mixin login()
    body
        div.log_in_container
            p.text_h Регистрация аккаунта
            div.mail_container
                input.enter_email(placeholder='Имя')
                input.enter_email(placeholder='Фамилия')
            div.radio_container
                label.container Мужчина
                    input(type='radio' name='radio' value='man')
                    span.checkmark
                label.container Женщина
                    input(type='radio' name='radio' value='women')
                    span.checkmark
            div.arrive
                p.text_h3 Дата рождения
                input.enter_email(placeholder="ДД.ММ.ГГГГ")
            div.arrive
                p.text_h3 Данные для входа в сервис
                input.enter_email(placeholder="Email")
                input.enter_email(placeholder="Пароль")
            div.radio_container
                label.container_checkbox Получать спецпредложения
                    input(type="checkbox" name="checkbox" value="ok")
                    span.swap

            div.people
                button.confirm
                    p Перейти к оплате
                    img(src="/image/arrow_forward.svg")

            div.have_account
                p Уже есть аккаунт на Toxin
                div.border_input
                    div.background_input
                        p войти