mixin arrival_departure()
        div.arrive_departure
            div.arrive
                p.text_H Прибытие
                input.enter_email(placeholder='ДД.ММ.ГГГГ')
                img(src="/image/expand_more.svg")

            div.leave
                p.text_H Выезд
                input.enter_email(placeholder='ДД.MМ.ГГГГ')
                img.drop_down(src="/image/expand_more.svg")