<!DOCTYPE html>
html(lang="en")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    div.subscription
        input(type="email" id="input_email" placeholder="Email")
        label(for="input_email")
        img(src="../image/arrow_forward_footer.svg")

    script(src='./subscription/subscription.js')

