mixin footer()
    body
        div.footer_1
            div.footer_cont

                - var nav = ['О нас', 'Новости', 'Служба поддержки', 'Услуги'];
                - var about = ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'];
                - var support = ['Соглашение', 'Сообщество', 'Связь с нами'];

                ul.first_line
                    li
                        img(src="/image/Logo.svg")
                        p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                    each val in ['Навигация', 'О нас', 'Служба поддержки']
                        li
                            h3= val
                            if (val === 'Навигация')
                                ul
                                    each buf in nav
                                        li= buf
                            if (val === 'О нас')
                                ul
                                    each buf in about
                                        li= buf
                            if (val === 'Служба поддержки')
                                ul
                                    each buf in support
                                        li= buf
                    li
                        h3 Подписка
                        p Получайте специальные предложения и новости сервиса
                        div.enter_email
                            input(type="email" id="input_email" placeholder="Email")
                            label(for="input_email")
                            img(src="/image/arrow_forward_footer.svg")
        div.footer_2
            div.second_line
                div.container
                    p Copyright © 2018 Toxin отель. Все права зачищены
                    div
                        each val in ['/image/twit.svg', '/image/face.svg', '/image/inst.svg']
                            img(src= val)