include ../arrival_departure/ arrival_departure.pug
//include ../bullet_list/bullet_list.pug
//include ../buttons/buttons.pug
//include ../checkbox_button/checkbox_button.pug
//include ../comment/comment.pug
//include ../date/date.pug
//include ../expandable_checkbox_list/expandable_checkbox_list.pug
//include ../fill_button/fill_button.pug
//include ../filling_room/filling_room.pug
//include ../footer/footer.pug
//include ../guest/guest.pug
//include ../header/header.pug
//include ../like_button/like_button.pug
//include ../login/login.pug
//include ../pagination/pagination.pug
//include ../rate_button/rate_button.pug
//include ../radio_button/radio_button.pug
//include ../range_slider/range_slider.pug
//include ../rich_checkbox_button/rich_checkbox_button.pug
//include ../room/room.pug
//include ../room_preview/room_preview.pug
//include ../searchroom/searchroom.pug
//include ../signin/signin.pug
//include ../subscription/subscription.pug
//include ../text_field/text_field.pug
//include ../toggle/toggle.pug


script(src='../arrival_departure/ arrival_departure')
script(src='../bullet_list/bullet_list')
script(src='../buttons/buttons')
script(src='../checkbox_button/checkbox_button')
script(src='../comment/comment')
script(src='../date/date')
script(src='../expandable_checkbox_list/expandable_checkbox_list')
script(src='../fill_button/fill_button')
script(src='../filling_room/filling_room')
script(src='../footer/footer')
script(src='../guest/guest')
script(src='../header/header')
//script(src='../like_button/like_button')
script(src='../login/login')
script(src='../pagination/pagination')
script(src='../rate_button/rate_button')
script(src='../radio_button/radio_button')
script(src='../range_slider/range_slider')
script(src='../rich_checkbox_button/rich_checkbox_button')
script(src='../room/room')
script(src='../room_preview/room_preview')
script(src='../searchroom/searchroom.js')
script(src='../signin/signin')
script(src='../subscription/subscription')
script(src='../text_field/text_field')
script(src='../toggle/toggle')
