include ../arrival_departure/ arrival_departure
include ../bullet_list/bullet_list.pug
include ../buttons/buttons.pug
include ../checkbox_button/checkbox_button.pug
include ../comment/comment.pug
include ../date/date.pug
include ../expandable_checkbox_list/expandable_checkbox_list.pug
include ../fill_button/fill_button.pug
include ../filling_room/filling_room.pug
include ../footer/footer.pug
include ../guest/guest.pug
include ../header/header.pug
include ../like_button/like_button.pug
include ../login/login.pug
include ../pagination/pagination.pug
include ../rate_button/rate_button.pug
include ../radio_button/radio_button.pug
include ../range_slider/range_slider.pug
include ../rich_checkbox_button/rich_checkbox_button.pug
include ../room/room.pug
include ../room_preview/room_preview.pug
include ../searchroom/searchroom.pug
include ../signin/signin.pug
include ../subscription/subscription.pug
include ../text_field/text_field.pug
include ../toggle/toggle.pug


script(type="text/javascript" src='blocks/arrival_departure/arrival_departure.js')
script(type="text/javascript" src='blocks/bullet_list/bullet_list.js')
script(type="text/javascript" src='blocks/buttons/buttons.js')
script(type="text/javascript" src='blocks/checkbox_button/checkbox_button.js')
script(type="text/javascript" src='blocks/comment/comment.js')
script(type="text/javascript" src='blocks/date/date.js')
//script(type="text/javascript" src='blocks/expandable_checkbox_list/expandable_checkbox_list')
script(type="text/javascript" src='blocks/fill_button/fill_button.js')
script(type="text/javascript" src='blocks/filling_room/filling_room.js')
script(type="text/javascript" src='blocks/footer/footer.js')
script(type="text/javascript" src='blocks/guest/guest.js')
script(type="text/javascript" src='blocks/header/header.js')
script(type="text/javascript" src='blocks/like_button/like_button.js')
script(type="text/javascript" src='blocks/login/login.js')
script(type="text/javascript" src='blocks/pagination/pagination.js')
script(type="text/javascript" src='blocks/rate_button/rate_button.js')
script(type="text/javascript" src='blocks/radio_button/radio_button.js')
script(type="text/javascript" src='blocks/range_slider/range_slider.js')
script(type="text/javascript" src='blocks/rich_checkbox_button/rich_checkbox_button.js')
script(type="text/javascript" src='blocks/room/room.js')
script(type="text/javascript" src='blocks/room_preview/room_preview.js')
script(type="text/javascript" src='blocks/searchroom/searchroom.js')
script(type="text/javascript" src='blocks/signin/signin.js')
script(type="text/javascript" src='blocks/subscription/subscription.js')
script(type="text/javascript" src='blocks/text_field/text_field.js')
script(type="text/javascript" src='blocks/toggle/toggle.js')
