@import "src/mixin/mixin.scss";

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .arrive,
  .leave {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 0;
    img{
      position: absolute;
      right: 16px;
      bottom: 17px
    }
  }
}




.enter_email {
  @include enter_email(150px);
  @include Font_Montserat(14px, normal, 20px, rgba(31, 32, 65, 0.75));
}


.enter_email::-moz-placeholder { color: rgba(31, 32, 65, 0.25);; }
.enter_email::-webkit-input-placeholder { color: rgba(31, 32, 65, 0.25);; }