mixin searchroom()
    body
        div.main_container
            div.search_room
                h2 Надём номера </n> под ваши пожелания
                div.date

                div.people

                button.confirm
                    p Подобрать номера
                    img(src="/image/arrow_forward.svg")

