@import "src/mixin/mixin.scss";

.bullet_list{
  width: 292px;

  ul{
    padding: 0;
  }

  .bullet{
    display: flex;
    flex-direction: row;
    //align-items: center;
    margin-bottom: 10px;

    div{
      margin-top: 8px;
      margin-right: 10px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(31, 32, 65, 0.25);
    }

    p{
      width: 271px;
      margin: 0;
      @include Font_Montserrat-Regular(14px,24px,rgba(31, 32, 65, 0.75))
    }
  }
}