script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src='./bullet_list/bullet_list.js')

mixin bullet_list(list)
    div.bullet_list
        ul
            each i in list
                li.bullet
                    div
                    p= i






+bullet_list(['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00,\n' +
'а выезд до 12:00'])