@import "src/mixin/mixin.scss";

.fill_button{

  .confirm {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include Font_Montserat(12px, bold, 15px, white);

    text-align: center;
    text-transform: uppercase;


    width: 320px;
    height: 44px;
    padding-left: 42px;
    //margin: 30px 0;

    border: 0;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    outline:none
  }

  .confirm > img {
    height: 16px;
    width: 16px;
    margin-left: 10px;
  }

  .confirm > p {
    width: 236px;
  }
}

