@import "src/mixin/mixin.scss";

%stroke {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

%three_price {
  p:nth-child(1){
    width: 214px;
  }
  @include Font_Montserat(14px, normal, 24px, rgba(31, 32, 65, 0.75))
}

.room{
  //width: 378px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 39px 29px 29px 29px;
  width: 320px;

  .first_line{
    @extend %stroke;

  }
  .price{
    @extend %stroke;
    @extend %three_price;
  }
  .service{
    @extend %stroke;
    @extend %three_price;
  }
  .add_service{
    @extend %stroke;
    @extend %three_price;

  }
  .total_price{
    font-family: Open-Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    /* identical to box height */


    /* Dark 100% */

    color: #1F2041;
    @extend %stroke;
  }


  .arr_lea_gue{

  }
}