script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src='./room/room.js')

mixin room(number_room, price)
        - let days = 4
        div.room
            div.first_line
                p= "№ " + number_room
                p= price + "₽ в сутки"
            div.arr_lea_gue
                block content
                    include ../arrival_departure/ arrival_departure
                block content
                    include ../guest/guest
            div.price
                p= price + "₽ x " + days + ' суток'
                p.first_c= price*days + "₽"
            div.service
                p Сбор за услуги: скидка 2 179₽
                p.second_c 0₽
            div.add_service
                p Сбор за дополнительные услуги
                p.third_c 300₽
            div.total_price
                p Итого
                p.total_c 999
            div.to_book
                block content
                    - let title = 'Забронировать'
                    include ../fill_button/fill_button

+room(888, 9990)

