.date{
  width: 320px;
  //height: 369px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  //padding: 1px;

  li {
    list-style-type: none;
  }

  .month_year{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 19px 0;

    width: 272px;

    p{
      font-family: Open-Sans, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;

      text-align: center;
      color: #1F2041;

      margin: 0;
    }
  }

  .week_day{
    ul{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 257px;
      padding: 0 12px ;
      margin-top: 23px;

      li{
        font-family: Montserrat-Regular, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #BC9CFF;
      }
    }
  }

  .number{
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;

    .week{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;

      .day {
        width: 40px;
        height: 40px;

        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: center;

      p {
        position: absolute;
        user-select: none;
        font-family: Montserrat-Regular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;

        align-items: center;
        text-align: center;

        /* Dark 50% */

        color: rgba(31, 32, 65, 0.5);

      }


      }



      .previous_m,
      .next_m{
        p {
          color: rgba(31, 32, 65, 0.25);
        }
      }


      .color{
        background: linear-gradient(180deg, rgba(238, 230, 255, 1), rgba(226, 232, 254, 1) );

      }

      .first{
        div{
          position: absolute;
          height: 40px;
          width: 40px;
          //border: 20px solid linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
          background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
          border-radius: 50%
        }

        p{
          color: #FFFFFF;
        }
      }

      .first_one{
        background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255, 255,1) 100%),
                    linear-gradient(180deg, rgba(238, 230, 255, 1), rgba(226, 232, 254, 1) );

        div{
          position: absolute;
          height: 40px;
          width: 40px;
          //border: 20px solid linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
          background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
          border-radius: 50%
        }

        p{
          color: white;
        }
      }

      .second {
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255, 255,1) 100%),
        linear-gradient(0deg, rgba(238, 230, 255, 1), rgba(226, 232, 254, 1) );

        div{
          position: absolute;
          height: 40px;
          width: 40px;
          //border: 20px solid linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
          background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
          border-radius: 50%
        }

        p{
          color: white;
        }

      }


    }
  }

  .buttons{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 280px;

    bottom: 20px;

    p{
      font-family: Montserrat-Regular,sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;


      margin: 0;
    }
  }
}

