script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src='./expandable_checkbox_list/expandable_checkbox_list.js')

mixin expandable_checkbox_list(name,list)
    div.expandable_checkbox_list
        p= name
        img.drop_down(src="../image/expand_more.svg")
        div.drop
            each i in list
                div.checkbox
                    label.container= i
                        input(type="checkbox" name="check" placeholder=i)
                        span.checkmark






+expandable_checkbox_list("Дополнительные удобства",["Завтрак",'Письменный стол','Стул для кормления','Кроватка'])