script(src='./range_slider/range_slider.js')


mixin range_slider()
    div(id="slider").slider
        div(id="thumb").thumb
        div(id="thumb2").thumb2


    //p( id="ball" class="ball")= min + " - "



+range_slider()