script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
//script(type="text/javascript" src='blocks/all_blocks/all_blocks.js')
//script(type="text/javascript" src='blocks/arrival_departure/arrival_departure.js')

//include blocks/all_blocks/all_blocks.pug


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        style
    body(style=("background-color : #fff; margin: 0;width: 1200px"))
        a(href='blocks/pages/search_from.pug') Search From

