script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src='blocks/all_blocks/all_blocks.js')
include   blocks/all_blocks/all_blocks

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        style
    body(style=("background-color : #fff; margin: 0;width: 1200px"))

        +arrival_departure()
        //+bullet_list()
        //+buttons()
        //+checkbox_button()
        //+comment()
        //+date()
        //+fill_button()
        //+filling_room()
        //+footer()
        //+guest()
        //+header()
        //+like_button()
        //+login()
        //+pagination()
        //+rate_button()
        //+radio_button()
        //+range_slider()
        //+rich_checkbox_button()
        //+room()
        //+room_preview()
        //+SearchRoom()
        //+signin()
        //+subscription()
        //+text_field()
        //+toggle()
