<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        //block content
        //    include ./header/header.pug
        //block content
        //    include ./footer/footer.pug
        //block content
        //    include ./login/login.pug
        //block content
        //    include ./signin/signin.pug
        //block content
        //    include ./searchroom/SearchRoom.pug
        //block content
        //    include ./find/find.pug
        block content
            include ./date/date.pug