


mixin button(button_type, name_button)
    if button_type === 'border'
        style
            include buttons.scss
    div.border
        div.fill
            p=name_button


+button("border","Войти")